
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h5>Optimiza el manejo de datos y la seguridad empresarial</h5>
<img style="width:50%; margin:0% 25%;" src="/img/principal.webp" alt="Sistema de Gestión de Ventas" />


